body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/free-vector/futuristic-background-design_23-2148503793.jpg?w=996&t=st=1719494289~exp=1719494889~hmac=691d884551920e79c915af4b6878bed7d91e5524d7ea11d2888e31f5291145d4");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    background-image: url("https://img.freepik.com/free-vector/geometric-round-shape-white-backdrop-banner-presentation_1017-49809.jpg?w=1380&t=st=1719494587~exp=1719495187~hmac=1dfd3b213e7a042c39d48f9675659c52c6f922c26655556beebc91436893cd0b");    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    
    margin-top: 100px;
}

.heading{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
}

.btn-div{
    margin-top: 1rem;
    align-items: center;
    text-align: center;
}
.btn{
    width: 10rem;
}

.cutoff{
    text-align: right;
}

.name{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5rem;
}

p a{
    text-decoration: none;
}