body {
    font-family: Arial, sans-serif;
    background-image: url("background.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    background-image: url("cardbackground.jpg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    
    margin-top: 100px;
}

.heading{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: 700;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    border: 1px solid #000000 !important;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
}

.btn-div{
    margin-top: 1rem;
    align-items: center;
    text-align: center;
}
.btn{
    width: 10rem;
}

.cutoff{
    text-align: right;
}

.name{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5rem;
}


p a{
    text-decoration: none;
    color: white;
}


.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.results-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.results-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.results-table tr:hover {
    background-color: #f1f1f1;
}
